openwisp-controller @ https://github.com/openwisp/openwisp-controller/tarball/master
influxdb~=5.3.1
django-nested-admin~=4.0.2
netaddr~=0.8.0
python-dateutil~=2.8.2
openwisp-utils[rest] @ https://github.com/openwisp/openwisp-utils/tarball/master
urllib3~=2.0.3
cryptography>=42.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
